* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
    font-size: var(--font-size-basic);
}

@font-face {
    font-family: 'Appetite';
    src: url('../fonts/appetite.ttf');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-VariableFont_wght.ttf');
}

:root {
    --font-size-basic: calc(10px + (16 - 10) * ((100vw - 320px) / (1200 - 320)));
    --font-size-h1: calc(20px + (48 - 20) * ((100vw - 320px) / (1200 - 320)));
    --font-size-h2: calc(20px + (40 - 20) * ((100vw - 320px) / (1200 - 320)));
    --font-size-18: calc(10px + (18 - 10) * ((100vw - 320px) / (1200 - 320)));
    --font-size-20: calc(12px + (20 - 12) * ((100vw - 320px) / (1200 - 320)));
    --font-size-22: calc(12px + (22 - 12) * ((100vw - 320px) / (1200 - 320)));
    --font-size-24: calc(16px + (24 - 16) * ((100vw - 320px) / (1200 - 320)));
    --font-size-24-2: calc(20px + (24 - 20) * ((100vw - 320px) / (1200 - 320)));
}

body {
    background-color: #090909;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.mt-50 {
    margin-top: 50px;
}

.mt-150 {
    margin-top: 150px;
}

.btn {
    cursor: pointer;
    font-size: var(--font-size-18);
    font-weight: 600;
    padding: 15px 20px;
    border-radius: 5px;
    background-color: #44FFFF;
    border: 2px solid #44FFFF;
    transition: 0.5s;
    color: #090909;
    display: inline-block;
}

.btn:hover {
    background: none;
    color: #44FFFF;
}

h2 {
    color: white;
    font-size: var(--font-size-h2);
    font-weight: 600;
    text-align: center;
    margin-bottom: 70px;
}

/* header */
header {
    padding: 25px 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    position: relative;
}

.logo {
    display: flex;
    gap: 20px;
    align-items: end;
}

.logo img {
    width: 16%;
}

.logo p {
    font-family: 'Appetite';
    font-size: calc(12px + (28 - 12) * ((100vw - 320px) / (1200 - 320)));
    color: white;
    text-transform: uppercase;
}

header .nav_block {
    justify-self: end;
    display: flex;
    gap: 100px;
    align-items: center;
    margin-top: 20px;
}

nav {
    display: flex;
    gap: 30px;
    align-items: center;
}

nav a {
    color: white;
    font-size: var(--font-size-20);
    font-weight: 500;
    transition: 0.3s;
}

nav a:hover {
    color: #44FFFF;
}

header .nav_block svg {
    stroke: white;
    transition: 0.5s;
    display: block;
}

header .nav_block svg:hover {
    stroke: #44FFFF;
}

header #b,
header [for=b] {
    display: none;
}

/* banner */
.banner {
    margin-top: 45px;
    background: linear-gradient(98.3deg, #09021F 23.81%, #1F066C 93.62%);
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner img {
    width: 48%;
}

.banner_content {
    padding-left: 5.5%;
}

h1 {
    color: white;
    font-size: var(--font-size-h1);
    margin-bottom: 20px;
}

.banner .btn {
    font-size: var(--font-size-24);
}

.banner .btn_upd {
    display: none;
}

/* about_us */
.about_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about_content h2 {
    font-family: 'Appetite';
    font-size: 64px;
    color: #44FFFF;
    text-transform: uppercase;
    margin-bottom: 50px;
    text-align: left;
}

.about_content p {
    color: white;
    font-size: var(--font-size-20);
    line-height: 150%;
    width: 585px;
}

.about_content .second {
    margin-top: 20px;
}

/* advantages */
.adv_content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 350px));
    justify-content: center;
    gap: 75px;
}

.adv_content .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
}

.adv_content .name p {
    color: white;
    font-size: var(--font-size-24-2);
    font-weight: 600;
}

.adv_content .text p {
    font-size: var(--font-size-20);
    color: white;
    max-width: 340px;
}

.adv_content .item img {
    width: 100%;
    max-width: 350px;
}

/* catalog */
.catalog {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.catalog h2 {
    margin-bottom: 0;
}

.catalog .sort_search {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.catalog .sort {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.catalog .sort input[type="radio"] {
    display: none;
}

.catalog .sort label {
    user-select: none;
    cursor: pointer;
    font-size: var(--font-size-20);
    font-weight: 500;
    color: rgba(255, 255, 255, 0.9);
    transition: 0.2s;
}

.catalog .sort input[type="radio"]:checked+label {
    color: #44FFFF;
}

.catalog .search {
    position: relative;
}

.catalog .search img {
    position: absolute;
    right: 0;
}

.catalog input[name="search"] {
    width: 240px;
    background: none;
    border: none;
    padding-bottom: 5px;
    border-bottom: 1px solid white;
    color: white;
    font-weight: 500;
}

.catalog input[name="search"]::placeholder {
    color: rgba(255, 255, 255, 0.8);
}

.catalog_filter {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.catalog_content {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 296px));
    justify-content: center;
    gap: 50px;
}

.catalog_page {
    gap: 30px;
}

.catalog_content .item {
    display: flex;
    flex-direction: column;
    max-width: 296px;
    gap: 10px;
    padding: 18px;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    color: black;
}

.catalog_content .item_content {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.catalog_content .item:hover .catalog_img {
    transform: scale(1.05);
}

.catalog_content .item .catalog_img {
    transition: 0.5s;
    max-width: 260px;
    max-height: 260px;
    height: 100%;
    object-fit: contain;
}

.catalog_content .category p {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.7);
    font-weight: 500;
}

.catalog_content .name p {
    font-weight: 500;
    font-size: 16px;
}

.catalog_content .price_btn {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}

.catalog_content .price_btn p {
    font-weight: 600;
    font-size: 16px;
}

.catalog_content .price_btn .btn {
    border-radius: 50%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.catalog_content .price_btn .btn:hover {
    background-color: #3ee1e1;
    border-color: #3ee1e1;
}

.catalog_content .price_btn img {
    width: 20px;
    height: 20px;
}

.catalog .filter {
    background-color: #171718;
    width: 240px;
    padding: 18px;
    border-radius: 5px;
    height: 100%;
}

.catalog .filter .name p {
    color: white;
    font-size: 17px;
    text-align: center;
    font-weight: 500;
}

.catalog summary {
    margin-top: 20px;
    margin-bottom: 15px;
    cursor: pointer;
    color: white;
    font-weight: 500;
    user-select: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.catalog summary::marker {
    display: none;
    list-style-type: none;
}

.catalog summary::after {
    content: "";
    background: url(../image/catalog/arrow2.svg) no-repeat center center;
    background-size: contain;
    width: 9px;
    height: 9px;
    color: transparent;
    transition: transform .4s;
}

.catalog details[open]>summary::after {
    transform: rotateZ(90deg);
}

.catalog details .content {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}

.catalog details .checkbox {
    display: none;
}

.catalog details .checkbox+label {
    cursor: pointer;
    color: white;
    font-size: 15px;
    position: relative;
    padding-left: 18px;
    display: flex;
    align-items: center;
    user-select: none;
}

.catalog details .checkbox+label:before {
    content: '';
    position: absolute;
    left: 0;
    width: 10px;
    height: 10px;
    border: 1px solid white;
    border-radius: 2px;
}

.catalog details .checkbox:checked+label::before {
    background: url('../image/catalog/checked.svg') center center no-repeat;
    background-size: contain;
}

.all_btn {
    cursor: pointer;
    background: none;
    border: none;
    display: flex;
    gap: 5px;
    align-items: center;
    font-size: 15px;
    color: #44FFFF;
}

.all_btn img {
    margin-top: 3px;
    width: 5px;
}

.catalog details input[type="radio"] {
    display: none;
}

.catalog details input[type="radio"]+label {
    cursor: pointer;
    color: white;
    font-size: 15px;
    position: relative;
    padding-left: 18px;
    display: flex;
    align-items: center;
    user-select: none;
}

.catalog details input[type="radio"]+label:before {
    content: '';
    position: absolute;
    left: 0;
    width: 11px;
    height: 11px;
    border: 1px solid white;
    border-radius: 50%;
}

.catalog details input[type="radio"]:checked+label::before {
    background-color: #444;
}

.catalog .price-input {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.catalog .field input {
    width: 95px;
    height: 30px;
    outline: none;
    font-size: 13px;
    border-radius: 4px;
    text-align: center;
    font-weight: 500;
    border: 1px solid white;
    background: none;
    color: white;
}

.catalog input[type="number"]::-webkit-outer-spin-button,
.catalog input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.catalog .price-input .separator {
    width: 10px;
    height: 1.5px;
    background-color: white;
    border-radius: 2px;
}

.catalog .slider {
    height: 2px;
    position: relative;
    background: #ddd;
    border-radius: 5px;
}

.catalog .slider .progress {
    height: 100%;
    left: 0;
    right: 0;
    position: absolute;
    border-radius: 5px;
    background: #44FFFF;
}

.catalog .range-input {
    position: relative;
}

.catalog .range-input input {
    position: absolute;
    width: 100%;
    height: 2px;
    top: -2px;
    background: none;
    pointer-events: none;
    appearance: none;
}

.catalog input[type="range"]::-webkit-slider-thumb {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: #44FFFF;
    pointer-events: auto;
    -webkit-appearance: none;
}

/* action */
.action {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
}

.action h2 {
    margin-bottom: 0;
}

.action_content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}

.action_content .item {
    width: 100%;
    max-width: 1000px;
    border-radius: 15px;
    overflow: hidden;
    background-color: #171718;
    display: flex;
    align-items: center;
    gap: 20px;
    color: white;
    cursor: pointer;
}

.action_content .item img {
    width: 22%;
    object-fit: cover;
    /* max-width: 224px; */
}

.action_content .name p {
    font-size: var(--font-size-22);
    font-weight: 600;
    margin-bottom: 20px;
}

.action_content .description p {
    font-size: var(--font-size-18);
    font-weight: 500;
}

.action .btns {
    display: none;
    align-items: center;
    gap: 10px;
}

.action_slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.action .btns input {
    display: none;
}

.action .btns label {
    width: 20px;
    height: 4px;
    border-radius: 2px;
    background-color: #ABABAB;
}

.action .btns input:checked+label {
    background-color: #44FFFF;
}

/* productCard */
.product {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.product .info {
    display: flex;
    gap: 30px;
    align-items: start;
}

.product .product_card {
    display: flex;
    justify-content: space-between;
}

.product .category {
    cursor: pointer;
    background-color: #171718;
    border-radius: 5px;
    font-size: 18px;
    color: white;
    font-weight: 500;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-self: start;
    padding: 5px 10px;
    margin-bottom: 15px;
}

.product .category img {
    margin-top: 2px;
}

.product_img {
    display: flex;
    gap: 10px;
}

.product_img .mini_img {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    height: 401px;
}

.product_img .mini_img img {
    cursor: pointer;
    width: 85px;
    height: 86px;
    background-color: white;
    border-radius: 5px;
    object-fit: contain;
}

.product_img .basic_img {
    width: 400px;
    height: 401px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product_img .basic_img img {
    height: 380px;
}

.product_img .scroll_btn {
    cursor: pointer;
    background-color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    height: 16px;
    width: 100%;
}

.product_img .scroll_btn img {
    width: 7px;
    height: 4px;
}

.product .text {
    width: 314px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}

.product .text .name p {
    color: white;
    font-size: 22px;
    font-weight: 600;
}

.product .text .review {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 600;
    color: white;
}

.product .text .stars {
    display: flex;
    gap: 2px;
}

.product .text .stars img {
    display: block;
}

.bold {
    font-weight: 600;
}

.product .color {
    color: white;
    font-weight: 500;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.product .color .bold {
    margin-right: 4px;
}

.product .color_choise {
    display: flex;
    align-items: center;
    gap: 10px;
}

.product .color_choise input[type="radio"] {
    display: none;
}

.product .color_choise img {
    cursor: pointer;
}

.product .select {
    border: 1px solid white;
    border-radius: 7px;
    padding: 3px 3px 3px 4px;
}

.product input[type="radio"]:checked+label img {
    border: 1px solid white;
    border-radius: 7px;
    padding: 3px 3px 3px 4px;
}

.product .specs {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.product .specs .item {
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

.product .specs .item .name {
    color: rgba(255, 255, 255, 0.8);
}

.product .specs .item .value {
    color: white;
}

.product .specs .item .line {
    flex: 1;
    height: 0.5px;
    background-color: rgba(255, 255, 255, 0.8);
    margin-top: 20px;
}

.product .all_btn {
    margin-top: 10px;
}

.product .delivery_buy .name {
    font-size: var(--font-size-20);
    font-weight: 600;
}

.product .delivery_buy .item {
    width: 330px;
    background-color: #171718;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 5px;
    padding: 20px 10px;
    color: white;
}

.product .delivery_buy .delivery_item {
    display: flex;
    gap: 10px;
}

.product .delivery_buy .ellipse {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: #d1d1d1;
    margin-top: 6px;
}

.product .delivery_buy .delivery {
    margin-bottom: 15px;
}

.product .delivery_buy .buy {
    gap: 20px;
}

.product .delivery_buy .price {
    display: flex;
    gap: 10px;
    align-items: end;
}

.product .delivery_buy .price p {
    font-size: var(--font-size-20);
    font-weight: 600;
}

.product .delivery_buy .old_price {
    position: relative;
}

.product .delivery_buy .old_price .line {
    position: absolute;
    width: 100%;
    height: 0.8px;
    top: 49%;
    background-color: white;
}

.product .delivery_buy .old_price p {
    font-size: 15px;
    color: rgba(255, 255, 255, 0.8);
}

.product .buy .btn {
    padding: 8px;
    width: 100%;
    font-size: 15px;
    font-weight: 500;
}

.product .favorite {
    margin-top: 10px;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 2px 1fr;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
}

.product .favorite .fav_btn {
    cursor: pointer;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 3px 10px;
    border: none;
    font-size: 15px;
    width: 100%;
}

.product .favorite .line {
    width: 2px;
    height: 32px;
    background-color: #ABABAB;
    border-radius: 2px;
}

.product .favorite .fav_btn img {
    margin: 7px 0;
}

.product .line_block {
    background-color: #171718;
    width: 100%;
    height: 2px;
    border-radius: 5px;
}

.product .description {
    display: flex;
    gap: 50px;
    color: white;
}

.product .description .name p {
    font-size: var(--font-size-20);
    font-weight: 500;
}

.product .description .text {
    width: 100%;
    font-size: 18px;
    line-height: 150%;
}

.product .description .text .title {
    display: block;
    font-weight: 500;
}

.product .description .category {
    user-select: none;
    margin: 20px 0 0 0;
}

.product .description .category img {
    transform: rotate(90deg);
    width: 5.5px;
}

.product .description details {
    position: relative;
}

.product .description details[open]>summary {
    position: absolute;
    left: 0;
    bottom: -60px;
}

.product .description details[open]>summary img {
    transform: rotate(-90deg);
}

/* authorization */
.form h2 {
    margin-bottom: 50px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

form .input {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}

form label {
    color: white;
    font-size: var(--font-size-20);
    font-weight: 500;
}

form input {
    width: 350px;
    height: 50px;
    border: 2px solid white;
    border-radius: 5px;
    background: none;
    color: white;
    font-size: 18px;
    padding: 10px;
}

form a {
    color: #44FFFF;
    font-size: var(--font-size-20);
    font-weight: 500;
    width: 350px;
}

form .btn {
    padding: 8px;
}

/* footer */
.line_top {
    width: 100%;
    max-width: 1200px;
    height: 1px;
    background-color: #44FFFF;
    box-shadow: 0px 5px 20px #44FFFF;
    margin-bottom: 80px;
}

.footer_content {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    align-items: center;
    padding-bottom: 70px;
}

footer .contact_content {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

footer .contact_content .item {
    display: flex;
    gap: 20px;
    align-items: center;
}

footer .contact_content .cont_img {
    width: 34px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .contact_content img {
    width: 34px;
}

footer .contact_content .phone {
    width: 28px;
}

footer .contact_content p {
    color: white;
    font-size: var(--font-size-18);
}

footer nav {
    flex-direction: column;
}

footer nav a {
    font-weight: 400;
}

footer .right_block,
footer .right_block .text {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 30px;
}

footer .right_block p {
    font-size: var(--font-size-18);
    color: white;
    text-align: center;
}

footer .icons {
    display: flex;
    gap: 30px;
    align-items: center;
}

footer .icons svg {
    fill: white;
    transition: 0.5s;
}

footer .icons svg:hover {
    fill: #44FFFF;
}

.error {
    color: white;
}

@media screen and (min-width: 1200px) {
    :root {
        --font-size-basic: 16px;
        --font-size-h1: 48px;
        --font-size-h2: 40px;
        --font-size-18: 18px;
        --font-size-20: 20px;
        --font-size-22: 22px;
        --font-size-24: 24px;
        --font-size-24-2: 24px;
    }
}

@media screen and (max-width: 1230px) {
    body {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media screen and (max-width: 850px) {
    header .nav_block {
        gap: 50px;
    }
}

@media screen and (max-width: 768px) {
    .mt-50 {
        margin-top: 35px;
    }

    .mt-150 {
        margin-top: 100px;
    }

    h2 {
        margin-bottom: 40px;
    }

    header [for=b] {
        cursor: pointer;
        width: 30px;
        z-index: 1000;
        display: flex;
        justify-self: end;
        align-items: center;
        justify-content: center;
        transition: 0.5s;
    }

    header [for=b] span {
        display: block;
        width: 100%;
        height: 3px;
        background-color: #ffffff;
        border-radius: 2px;
        position: relative;
    }

    header [for=b] span::before,
    header [for=b] span::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: #ffffff;
        border-radius: 2px;
    }

    header [for=b] span::before {
        top: -8px;
    }

    header [for=b] span::after {
        top: 8px;
    }

    header .nav_block {
        display: flex;
        flex-direction: column-reverse;
        align-items: start;
        justify-content: start;
        gap: 40px;
        position: fixed;
        padding: 20px;
        margin: 0;
        top: 0;
        left: -100%;
        width: 250px;
        height: 100%;
        background-color: #171718;
        z-index: 1000;
        padding-top: 40px;
        transition: 0.5s;
    }

    header .nav_block nav {
        flex-direction: column;
        align-items: start;
    }

    header #b:checked~label {
        position: fixed;
    }

    header #b:checked~.nav_block {
        left: 0;
    }

    header #b:checked~label span::before {
        transform: rotate(45deg);
        top: 0;
    }

    header #b:checked~label span::after {
        transform: rotate(-45deg);
        top: 0;
    }

    header #b:checked~label span {
        background: transparent;
    }

    header {
        grid-template-columns: repeat(2, 1fr);
    }

    .banner {
        margin-top: 0;
    }

    .banner .btn {
        padding: 10px 15px;
    }
}

@media screen and (max-width: 680px) {
    .catalog_content .item {
        flex-direction: row;
        max-width: none;
        max-height: 200px;
    }

    .catalog_content .item_content {
        width: 100%;
        height: 100%;
        align-items: start;
        justify-content: space-between;
    }

    .catalog_content .item_content .name {
        margin-top: 5px;
        flex: 1;
        text-align: left;
    }

    .catalog_content {
        grid-template-columns: minmax(200px, 600px);
    }

    .footer_content {
        grid-template-columns: 1fr 1fr;
        row-gap: 40px;
        padding-bottom: 50px;
    }

    footer .line_top {
        margin-bottom: 50px;
    }

    .footer_content .nav_block {
        justify-self: end;
    }

    .footer_content nav {
        align-items: end;
    }

    .footer_content .right_block {
        grid-column: 1/3;
        flex-direction: row;
        justify-content: space-between;
    }
}

@media screen and (max-width: 600px) {
    .banner {
        border-radius: 20px;
        padding: 20px;
        margin-top: 0;
        flex-direction: column;
        gap: 20px;
    }

    .banner .btn {
        display: none;
    }

    .banner .btn_upd {
        display: inline-block;
    }

    .banner img {
        width: 50%;
    }

    .catalog_content .item.item_close {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    .mt-50 {
        margin-top: 20px;
    }

    .mt-150 {
        margin-top: 70px;
    }

    h2 {
        margin-bottom: 20px;
    }

    .banner img {
        width: 70%;
    }

    .banner {
        border-radius: 20px;
        padding: 20px;
        margin-top: 0;
        flex-direction: column;
    }

    .adv_content {
        gap: 40px;
    }

    .adv_content .item img {
        max-width: 300px;
    }

    .adv_content .item .text p {
        max-width: 290px;
    }

    .catalog {
        gap: 30px;
    }

    .catalog .sort {
        gap: 20px;
    }

    .catalog_content {
        gap: 20px;
    }

    .catalog_content .item {
        padding: 10px;
    }

    .catalog_content .item .catalog_img {
        width: 30%;
    }

    .catalog_content .item .name {
        margin-top: 0;
    }

    .catalog_content .item .name p {
        font-size: 14px;
    }

    .catalog_content .category p {
        font-size: 13px;
    }

    .catalog_content .price_btn p {
        font-size: 15px;
    }

    .catalog_content .price_btn img {
        width: 15px;
        height: 15px;
    }

    .catalog_content .price_btn {
        padding: 5px;
    }

    .btn {
        padding: 10px 15px;
    }

    .action {
        gap: 30px;
    }

    .action_slider {
        width: 100%;
        overflow: hidden;
    }

    .action .btns {
        display: flex;
    }

    .action_content {
        position: relative;
        flex-direction: row;
        gap: 20px;
        align-items: stretch;
        overflow-x: auto;
    }

    .action_content::-webkit-scrollbar {
        display: none;
    }

    .action_content .item {
        min-width: 220px;
        gap: 10px;
        border-radius: 10px;
        flex-direction: column;
    }

    .action_content .item .text {
        padding: 10px;
    }

    .action_content .item .name p {
        margin-bottom: 10px;
    }

    .action_content .item img {
        width: 100%;
    }

    .footer_content {
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .footer_content .contact_content {
        gap: 20px;
    }

    .footer_content .contact_content img {
        width: 25px;
    }

    .footer_content .contact_content .phone {
        width: 22px;
    }

    .footer_content .nav_block {
        justify-self: center;
    }

    .footer_content .nav_block nav {
        flex-direction: row;
    }

    .footer_content .right_block .icons svg {
        width: 28px;
    }

    .footer_content .right_block {
        flex-direction: column;
        align-items: center;
        grid-column: auto;
        gap: 20px;
    }

    .footer_content .right_block .text {
        gap: 20px;
    }
}

@media screen and (max-width: 320px) {
    header [for=b] {
        transform: scale(0.8);
    }
}